#build files
build/
dist/

#markdown files
features_to_add.md

#python files
map.py

#text files
mapping.txt
version.txt

*.pyc
*.pyo
*.pyd

#environment files
.env/

#powershell files
build.bat
zipper.bat


*.spec
logs/
*.log

Thumbs.db
Desktop.ini

release/
*.zip

*.dll
*.o
*.obj

.clangd