build/CmakeFile
build/.ninja_deps
build/.ninja_log
build/cmake_install.cmake
build/CmakeCache.txt
received/
shared/
build/compile_commands.json
compile_commands.json
compile_flags.txt
features_to_add.md
map.py
mapping.txt

*.pyc
*.pyo
*.pyd

.env/
.venv/

build
dist/
*.spec
logs/
*.log

Thumbs.db
Desktop.ini

release/
*.zip

*.dll
*.o
*.obj

*.zig-cache/
zig-out/